.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #38bdf8;
}

input:checked + .slider:before {
    transform: translateX(12px);
}

@media screen and (max-width: 480px) {
    .switch {
        width: 24px;
        height: 12px;
    }

    input:checked + .slider:before {
        transform: translateX(10px);
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 2px;
        bottom: 1px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }
}
