.card {
    position: relative;
    color: #fff;
    padding: 1.2rem;
    z-index: 6;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    flex: 0 0 calc((100% - 80px) / 6);
}

.city-name {
    font-size: 18px;
}

.forecast-metric {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24px;
    gap: 6px;
}

.chart-wrapper {
    position: relative;
    z-index: 10;
    height: 40px;
}

.title {
    font-size: 12px;
    margin-bottom: 8px;
}

.value {
    font-size: 22px;
    font-weight: bold;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, rgb(58, 58, 240), rgb(150, 234, 150))
        border-box;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .city-name {
        font-size: 16px;
    }

    .title {
        font-size: 10px;
    }

    .value {
        font-size: 20px;
    }

    .forecast-metric {
        margin-top: 20px;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 480px) {
    .city-name {
        font-size: 14px;
    }

    .value {
        font-size: 16px;
    }

    .forecast-metric {
        margin-top: 16px;
    }

    svg {
        width: 14px;
        height: 14px;
    }
}
