.scrollContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    overflow-x: auto;
    position: relative;
    margin-top: 24px;
    z-index: 5;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 100%;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}
